<header class="site-header" role="banner">
	<section class="wrap nav-wrap">

		<nav class="site-nav">
			<h3 class="site-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h3>
			<ul class="nav">
				{{#foreach navigation}}
					<li class="nav-{{label}} {{#if current}}active{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
				{{/foreach}}
			</ul>
			<!-- <div id="hamburgler" class="hamburgler-icon-wrapper">
				<span class="hamburgler-icon"></span>
			</div> -->
		</nav>


	</section>
</header>

<div class="hamburgler-menu">
	<ul class="hamburgler-menu-list">
		{{#foreach navigation}}
			<li role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
		{{/foreach}}
	</ul>
</div>
