{{!< default}}

<header class="hero-overlay" style="background-image: url('{{@blog.cover}}')">
  <div class="wrap">
    <h1 class="page-title">Daniel Gynn</h1>
    <h3>Frontend Web Developer</h1>
  </div>
</header>

<section class="wrap">
  <h1 class="page-subtitle">Recent Blog Posts</h1>
  {{#get "posts" limit="3" include="author,tags" filter="tag:learning"}}
    {{#foreach posts}}
      <article class="{{post_class}}">
        <section class="list-content home-list">
          <header class="cover post post-head">
            <h5 class="cover-heading">
              <a class="post-title-link" href="{{url}}">{{{title}}}</a> - <time datetime="{{date format="DD-MM-YY"}}">{{date format='DD MMM YY'}}</time>
            </h5>
          </header>
          <section class="post-excerpt">
            <div class="cover post post-body">
              <p>{{excerpt words="22"}}<a class="read-more" href="{{url}}">...</a></p>
            </div>
          </section>
        </section>
        <hr class="no-margin">
      </article>
    {{/foreach}}
    <p><a href="/blog">Read more blog posts...</a></p>
  {{/get}}
</section>

<hr>

{{#get "posts" limit="3" include="author,tags" filter="tag:talks"}}
  <section class="wrap">
    <h1 class="page-subtitle">Recent Talks</h1>
    {{#foreach posts}}
      <article class="{{post_class}}">
        <section class="list-content home-list">
          <header class="cover post post-head">
            <h5 class="cover-heading">
              <a class="post-title-link" href="{{url}}">{{{title}}}</a> - <time datetime="{{date format="DD-MM-YY"}}">{{date format='DD MMM YY'}}</time>
            </h5>
          </header>
          <section class="post-excerpt">
            <div class="cover post post-body">
              <p>{{excerpt words="22"}}<a class="read-more" href="{{url}}">...</a></p>
            </div>
          </section>
        </section>
        <hr class="no-margin">
      </article>
    {{/foreach}}
    <p><a href="/talks">See more talks...</a></p>
  </section>
  <hr>
{{/get}}

{{#get "posts" limit="3" include="author,tags" filter="tag:photography"}}
  <section class="wrap">
    <h1 class="page-subtitle">Recent Photography</h1>
    {{#foreach posts}}
      <article>
        <section class="list-content home-list">
          <header class="cover post post-head">
            <h5 class="cover-heading">
              <a class="post-title-link" href="{{url}}">{{{title}}}</a> - <time datetime="{{date format="DD-MM-YY"}}">{{date format='DD MMM YY'}}</time>
            </h5>
          </header>
          <section class="post-excerpt">
            <div class="cover post post-body">
              <p>{{excerpt words="22"}}<a class="read-more" href="{{url}}">...</a></p>
            </div>
          </section>
        </section>
        <hr class="no-margin">
      </article>
    {{/foreach}}
    <p><a href="/photography">See more photography...</a></p>
  </section>
{{/get}}
