{{!< default}}

<header class="hero-overlay" style="background-image: url('{{@blog.cover}}')">
  <div class="wrap">
    <h1 class="page-title">Daniel Gynn</h1>
    <h3 class="page-desc">Frontend Web Developer</h1>
  </div>
</header>

<section class="wrap">
  <h1 class="page-subtitle">Recent Blog Posts</h1>
  {{#get "posts" limit="3" include="author,tags" filter="tag:learning"}}
    {{#foreach posts}}
      <article class="{{post_class}}">
        <section class="list-content home-list">
          <h5 class="mini-post-header">
            <a href="{{url}}">{{{title}}}</a>
          </h5>
          <span class="time-blocks"><time datetime="{{date format="DD-MM-YY"}}">{{date format='DD MMMM, YYYY'}}</time></span>
          <section class="post-excerpt">
            <p>{{excerpt words="22"}}<a class="read-more" href="{{url}}">...</a></p>
          </section>
        </section>
        <hr class="no-margin">
      </article>
    {{/foreach}}
    <p><a href="/blog">Read more blog posts...</a></p>
  {{/get}}
</section>

<hr>

{{#get "posts" limit="3" include="author,tags" filter="tag:talks"}}
  <section class="wrap">
    <h1 class="page-subtitle">Recent Talks</h1>
    {{#foreach posts}}
      <article class="{{post_class}}">
        <section class="list-content home-list">
          <h5 class="mini-post-header">
            <a href="{{url}}">{{{title}}}</a>
          </h5>
          <span class="time-blocks"><time datetime="{{date format="DD-MM-YY"}}">{{date format='DD MMMM, YYYY'}}</time></span>
          <section class="post-excerpt">
            <p>{{excerpt words="22"}}<a class="read-more" href="{{url}}">...</a></p>
          </section>
        </section>
        <hr class="no-margin">
      </article>
    {{/foreach}}
    <p><a href="/talks">See more talks...</a></p>
  </section>
  <hr>
{{/get}}

{{#get "posts" limit="3" include="author,tags" filter="tag:photography"}}
  <section class="wrap">
    <h1 class="page-subtitle">Recent Photography</h1>
    {{#foreach posts}}
      <article>
        <section class="photography-thumb list-content home-list">
          <div class="post-text">
            <h5 class="mini-post-header">
              <a href="https://danielgynn.exposure.co{{url}}" target="_blank">{{{title}}}</a>
            </h5>
            <span class="time-blocks"><time datetime="{{date format="DD-MM-YY"}}">{{date format='DD MMMM, YYYY'}}</time></span>
            <p>{{excerpt words="22"}}<a class="read-more" href="https://danielgynn.exposure.co{{url}}" target="_blank">...</a></p>
          </div>
          <a class="post-thumbnail" href="https://danielgynn.exposure.co{{url}}" target="_blank">
            <img src="{{image}}">
          </a>
        </section>
        <hr class="no-margin">
      </article>
    {{/foreach}}
    <p><a href="/photography">See more photography...</a></p>
  </section>
{{/get}}
