{{!< default}}

<section class="mt4">
  <h1>Writing</h1>

  <div class="flex flex-col-mob">
    <div class="w-40">
      <img class="profile-img" src="http://i.imgur.com/FMdmcWl.jpg" alt="MacBook" />
    </div>

    <div class="w-60">
      {{#post}}
        {{content}}
      {{/post}}

      {{#get "posts" limit="all" include="author,tags" filter="tag:learning, tag:books, tag:writing" as |posts pages|}}
        {{#foreach posts}}
          <article class="post-listing {{post_class}}">
            <section class="flex flex-ac flex-jsb mb1 flex-col-mob flex-afs-mob">
              <h2 class="m0 mr1"><a href="{{url}}">{{{title}}}</a></h1>
      				<p class="m0 flex flex-jfe"><time datetime="{{date format="DD-MM-YY"}}">{{date format='DD MMMM, YYYY'}}</time></p>
            </section>
          </article>
        {{/foreach}}
      {{/get}}
    </div>
  </div>
</section>
