{{!< default}}

<section class="mt4">
  <h1>Writing</h1>
  <div>
    <p>A collection of <strong>{{pages.total}}</strong> posts on web development, design and books.</p>
  </div>

  <div class="flex flex-col-mob">
    <!-- <div class="w-40 mr2 mr0-mob">
      <img src="http://i.imgur.com/FMdmcWl.jpg" alt="MacBook" />
    </div> -->

    <div class="w-100">
      {{#post}}
        {{content}}
      {{/post}}

      <div class="flex-col-mob flex-col-tab">
        <div class="w-100 w-100-tab mb2">
          {{#get "posts" limit="1" include="author,tags" filter="featured:true" as |posts pages|}}

            {{#foreach posts}}
              <article class="post-listing-featured flex-col-mob {{post_class}}">
                <header class="w-50 w-100-tab">
                  <img data-src="{{image}}" class="lazyload" />
                </header>
                <section class="w-50 w-100-tab">
                  <div class="m1">
                    <span>FEATURED</span>
                    <h2 class="mt2 mb1"><a href="{{url}}">{{{title}}}</a></h1>
                    <p>{{excerpt characters="240"}}...</p>
                    <span>Posted {{date format='DD MMMM, YYYY'}}</span>
                    <!-- <a href="{{url}}">READ MORE</a> -->
                  </div>
                </section>
              </article>
            {{/foreach}}
          {{/get}}
        </div>

        <div class="w-100 w-100-tab">
          {{#get "posts" limit="all" include="author,tags" filter="featured:false+tags:[learning, books, writing]" as |posts pages|}}

            {{#foreach posts}}
              <article class="post-listing {{post_class}}">
                <header>
                  <a href="{{url}}"><img class="lazyload" data-src="{{image}}" /></a>
                </header>
                <section class="mb1">
                  <h2 class="m0 mr1"><a href="{{url}}">{{{title}}}</a></h1>
                  <span>Posted {{date format='DD MMMM, YYYY'}}</span>
                  <div class="flex flex-ac flex-jsb">
                    <!-- {{#if tags}}<small class="dis-no-mob dis-in-bl">Posted in {{tags separator=", "}}.</small>{{/if}} -->
                  </div>
                </section>
              </article>
            {{/foreach}}
          {{/get}}
        </div>
      </div>

    </div>
  </div>
</section>
