{{!< default}}

{{> "carbon"}}

<section class="mt6">
  <h1 class="center tc pt3 pl3 mw6 pr3 f3 f3-ns lh-copy">Blog</h1>

  {{#get "posts" limit="all" filter="tags:[learning, books, writing]" as |posts pages|}}
    <p class="center mw6 pl3 pr3 pl0-ns pr0-ns f4 pt2-ns lh-copy black-80">
      This archive contains a collection of <strong>{{pages.total}}</strong> posts on web development, design and books.
    </p>
    <p class="center mw6 pl3 pr3 pl0-ns pr0-ns f4 pt1 black-80">
      You can also check out <a href="/weekly">The Weekly Edition</a>, a newsletter/journal published every Sunday evening. ☕️ 📰
    </p>
  {{/get}}

  <div class="mw6 center bb b--light-gray pt2"></div>

  <div class="center mw6 pl3 pr3 pl0-ns pr0-ns pb3 pb6-ns f4 pt4 pt4-ns lh-copy black-80">
    {{#get "posts" limit="all" include="author,tags" filter="tags:[learning, books, writing]" as |posts pages|}}
      {{#foreach posts}}
        <article class="{{post_class}}">
          <section class="list tl-ns f4 pt2 pb2 dim-subtle mb1">
            <a class="fw7" href="{{url}}">{{{title}}}</a>
            <p class="mb0 pt1">{{excerpt characters="140"}}...</p>
            <date class="db i black-30 pb4 f5">{{date format='DD MMMM, YYYY'}}</date>
          </section>
        </article>
      {{/foreach}}
    {{/get}}
  </div>
</section>
