{{!< default}}
<section class="wrap">

  <h1 class="page-title">Blog Archive</h1>

  <div class="tag-menu">
    <ul>
      <li><a href="/blog" class="active-tag">All</a></li>
      <li><a href="/web"><i class="fa fa-tag"></i> Web</a></li>
      <li><a href="/books"><i class="fa fa-tag"></i> Books</a></li>
    </ul>
  </div>

  {{#post}}
    {{content}}
  {{/post}}

  {{#get "posts" limit="all" include="author,tags" filter="tag:learning, tag:books" as |posts pages|}}

    <p>A collection of <strong>{{pages.total}}</strong> post(s).</p>

    <hr>

    {{#foreach posts}}
      <article class="{{post_class}}">
        <section class="list-content">
          <header class="cover post post-head">
            <h1 class="cover-heading post-title"><a class="post-title-link" href="{{url}}">{{{title}}}</a></h1>
            <section class="blog-blocks">
    					<span class="time-blocks">Posted on <time datetime="{{date format="DD-MM-YY"}}">{{date format='DD MMMM, YYYY'}}</time> {{#if tags}}in {{tags separator=", "}}{{/if}}</span>
            </section>
          </header>
          <section class="post-excerpt">
            <div class="cover post post-body">
              <p>{{excerpt words="30"}}<a class="read-more" href="{{url}}">...</a></p>
            </div>
          </section>
        </section>
        <hr>
      </article>
    {{/foreach}}

  {{/get}}

</section>
