{{!< default}}

<section class="mt4">
  <h1>Photography</h1>

  <div class="flex flex-col-mob">
    <div class="w-40 mr2">
      {{#get "posts" limit="all" include="author,tags" filter="tag:photography" as |posts pages|}}
        A collection of <strong>{{pages.total}}</strong> photographic stories, told with <a href="http://danielgynn.exposure.co">Exposure</a>.
      {{/get}}
      {{#post}}
        {{content}}
      {{/post}}
    </div>

    <div class="w-60 w-100-tab flex flex-wrap">
      {{#get "posts" limit="all" include="author,tags" filter="tag:photography"}}
        {{#foreach posts}}
          <div class="flex-50 flex-100-tab">
            <div class="card mr2 mb2">
              <div class="bg-image" style="background-image: url({{@image}});">
                <a class="flex flex-jc flex-ac" href="https://danielgynn.exposure.co{{url}}" target="_blank">
                  <div>
                    Open in Exposure
                  </div>
                </a>
              </div>
              <div class="flex flex-ac flex-jsb flex-col-tab flex-afs-tab">
                <h2 class="m0 mr1">
                  <a href="https://danielgynn.exposure.co{{url}}" target="_blank">{{{title}}}</a>
                </h2>
                <p class="m0 flex flex-jfe flex-jfs-mob"><time datetime="{{date format="DD-MM-YY"}}">{{date format='MMMM, YYYY'}}</time></p>
              </div>
            </div>
          </div>
          {{/foreach}}
      {{/get}}
    </div>
  </div>
</section>
