{{!< default}}
<header class="img-wrap">
  <h1 class="page-title">Recent Talks</h1>
  <img src="http://i.imgur.com/NDOHhRx.jpg" />
</header>

<section class="wrap">

  {{#post}}
    {{content}}
  {{/post}}

  {{#get "posts" limit="all" include="author,tags" filter="tag:talks"}}

    {{#foreach posts}}
      <article class="{{post_class}}">
        <section>
          <h3>{{{title}}} <strong>(<time datetime="{{date format="DD-MM-YY"}}">{{date format='DD MMMM, YYYY'}}</time>)</strong></h3>
          <section class="post-excerpt"><p>{{content}}</p></section>
        </section>
        <hr class="post-hr" />
      </article>
    {{/foreach}}

  {{/get}}

</section>
