{{!< default}}

<section class="mt5">
  <h1>Profile</h1>
  <div class="flex flex-col-mob">
    <div class="w-40">
      <img class="profile-img" src="http://i.imgur.com/XqMBXlL.jpg" alt="Self portrait" />
    </div>

    <div class="w-60">
      {{#post}}
        {{content}}
      {{/post}}

      <div class="details-section">
        <div class="details-wrapper">
          <h2>Experience</h2>
          <div class="details">
            <span>Repositive</span>
            <small class="right">2016-2016</small>
            <small class="bottom">Frontend Developer</small>
          </div>

          <div class="details">
            <span>Repositive</span>
            <small class="right">2015-2016</small>
            <small class="bottom">Junior Web Developer</small>
          </div>
        </div>

        <div class="details-wrapper">
          <h2>Education</h2>
          <div class="details">
            <span>University of Kent</span>
            <small class="right">2013-2017</small>
            <small class="bottom">Computer Science with a Year in Industry</small>
          </div>
        </div>

        <div class="details-wrapper">
          <h2>Public Speaking</h2>
          <div class="details">
            <span>Ember London</span>
            <small class="right">11.08.2016</small>
            <small class="bottom">A Beginner's Journey into Ember.js</small>
          </div>
          <div class="details">
            <span>CambridgeJS</span>
            <small class="right">11.07.2016</small>
            <small class="bottom">Building Ambitious Web Applications with Ember.js</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- <section>
  <header class="profile-img-wrap">
    <h1 class="headline"><strong>Daniel Gynn</strong> is a freelance developer, designer and writer.</h1>
  </header>

  <div class="p-wrap">
    {{#post}}
      {{content}}
    {{/post}}
  </div>
</section>

<section>
  <header class="wrap">
    <h1 class="page-title" id="talks">Technical Talks</h1>
    <p class="">Recently, I've had the privilege of speaking at a couple of events, mostly centered around JavaScript and the frontend web.</p>
  </header>

  <div class="profile-img-wrap">
    <img src="http://i.imgur.com/NDOHhRx.jpg" />
  </div>

  {{#get "posts" limit="all" include="author,tags" filter="tag:talks"}}

    {{#foreach posts}}
      <article class="{{post_class}}">
        <section class="wrap">
          <h5 class="post-meta">{{{title}}} - <time datetime="{{date format="DD-MM-YY"}}">{{date format='DD MMMM, YYYY'}}</time></h5>
          <section class="post-excerpt"><p>{{content}}</p></section>
        </section>
      </article>
    {{/foreach}}

  {{/get}}

</section> -->
