{{!< default}}
<section class="wrap">

  <h1 class="page-title">Photography</h1>

  {{#post}}
    {{content}}
  {{/post}}

  {{#get "posts" limit="all" include="author,tags" filter="tag:photography"}}

    <hr>

    {{#foreach posts}}
      <article>
        <section class="tag-photography">
          <a class="pg-link-cover" href="https://danielgynn.exposure.co{{url}}" target="_blank"></a>
          <div class="pg-cover" style="background-image: url('{{@image}}');"></div>
          <div class="pg-content">
            <div class="pg-meta">
              <h1><a href="https://danielgynn.exposure.co{{url}}" target="_blank">{{{title}}}</a></h1>
              <h3><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='MMMM DD, YYYY'}}</time></h3>
            </div>
          </div>
        </section>
      </article>
    {{/foreach}}

  {{/get}}

</section>
