{{!< default}}
<progress value="0"></progress>
{{#post}}
  <article class="mt4">
    <header class="w-80 w-100-tab">
      <h1 class="m0">{{{title}}}</h1>
      <p class="dis-in-bl m0 flex flex-jfs"><time datetime="{{date format="DD-MM-YY"}}">{{date format='DD MMMM, YYYY'}}</time>{{#if tags}}. Posted in {{tags separator=", "}}.{{/if}}</p>
    </header>
    <section class="wrap">
      <img src="{{image}}" alt="post-banner" />
      <div class="mb3">
        {{content}}
      </div>
      <div class="fancy-div"></div>
      {{> "disqus"}}
    </section>
  </article>
{{/post}}
