{{!< default}}
<section class="wrap">
	{{#is "tag"}}

		{{#tag}}
	    <h1 class="page-title">{{name}}</h1>
	    <p>{{description}}</p>
			<hr class="fancy-div">
			<ul class="tag-menu">
		    <li><a href="/blog">All</a></li>
		    <li><a href="/tag/learning">Development</a></li>
		    <li><a href="/tag/writing">Books & Writing</a></li>
		  </ul>
			<hr>
		{{/tag}}

		{{#foreach posts limit="all"}}
			<article class="{{post_class}}">
				<section class="list-content home-list">
					<h5 class="mini-post-header">
						<a href="{{url}}">{{{title}}}</a>
					</h5>
					<span class="time-blocks"><time datetime="{{date format="DD-MM-YY"}}">{{date format='DD MMMM, YYYY'}}</time></span>
					<section class="post-excerpt">
						<p>{{excerpt words="22"}}<a class="read-more" href="{{url}}">...</a></p>
					</section>
				</section>
				<hr class="no-margin">
			</article>
		{{/foreach}}

	{{/is}}
</section>
