{{!< default}}
<section class="wrap">
	{{#tag}}

    <h1 class="page-title">{{name}}</h1>
    <p>{{description}}</p>

  	<div class="inner cover post post-body">
      {{#foreach posts}}
        <article class="{{post_class}}">
          <section class="list-content">
            <header class="cover post post-head">
              <h1 class="cover-heading post-title"><a class="post-title-link" href="{{url}}">{{{title}}}</a></h1>
              <section class="post-meta">
                Posted on <time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time>
                {{#if tags}}in {{tags separator=", "}}{{/if}}
              </section>
            </header>
            <section class="post-excerpt">
              <div class="cover post post-body">
                <p>{{excerpt words="30"}}<a class="read-more" href="{{url}}">...</a></p>
              </div>
            </section>
          </section>
          <hr>
        </article>
      {{/foreach}}
  	</div>

	{{/tag}}
</section>
