{{!< default}}

<section class="mt4">
	{{#is "tag"}}
		{{#tag}}
		  <h1>Writing</h1>

		  <div class="flex flex-col-mob">
		    <div class="w-40 mr2 mr0-mob">
			     {{#if image}}<img src="{{image}}" alt="Tag image" />{{else}}<img src="http://i.imgur.com/FMdmcWl.jpg" alt="MacBook" />{{/if}}
		    </div>

		    <div class="w-60">
		      {{#post}}
		        {{content}}
		      {{/post}}

	        <div class="post-listing">
						<p class="flex flex-jsb">
							<span>Posts on {{name}}. </span>
							<a href="/writing">&#8592; Back to all posts</a>
						</p>
	          {{#if description}}<p>{{description}}</p>{{/if}}
	        </div>
				{{/tag}}
				{{#foreach posts limit="all"}}
          <article class="post-listing {{post_class}}">
            <section class="mb1">
              <h2 class="m0 mr1"><a href="{{url}}">{{{title}}}</a></h1>
              <div class="flex flex-ac flex-jsb">
                <small class="m0 flex flex-jfs"><time datetime="{{date format="DD-MM-YY"}}">{{date format='DD MMMM, YYYY'}}</time></small>
                {{#if tags}}<small class="dis-no-mob dis-in-bl">Posted in {{tags separator=", "}}.</small>{{/if}}
              </div>
            </section>
          </article>
        {{/foreach}}
	    </div>
	  </div>
	{{/is}}
</section>
